<section class="container">
    <input type="tel" class="cellphone-input" [class.error]="phoneNumberCtrl.invalid && phoneNumberCtrl.dirty" autofocus
        placeholder="Phone number" (keyup)="onInputSubmit()" [formControl]="phoneNumberCtrl">

    <span class="cellphone-clear--span" [class.show]="phoneNumberCtrl.value" (click)="cleanInput()">
        <i><img class="eraser" src="./assets/svg/eraser.svg" alt="clear"></i>
    </span>

    <p class="error-input" [class.active]="phoneNumberCtrl.invalid && phoneNumberCtrl.dirty">
        Ups! the phone number is invalid. Try another one
    </p>
</section>