<footer class="footer">
    <div class="social-media">
        <ul class="social-media--wrapper">
            @for (item of socialMediaItems; track $index) {
            <li>
                <a [href]="item.url" target="_blank" class="link">
                    <i class="icon"><img [src]="item.iconPath" [alt]="item.alternativeText">{{item.title}}</i>
                </a>
            </li>
            }
        </ul>
    </div>
    <div class="line-through"></div>
    <p class="copyright">Copyright &copy; 2024</p>
</footer>