/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background: rgb(154,208,194);
  background: linear-gradient(90deg, rgba(154,208,194,1) 0%, rgba(45,149,150,1) 50%, rgba(38,80,115,1) 100%);
  margin: 0;
  height: 100vh;
}